.googlemapapi {
  background-color:rgb(230, 230, 230);
  .container {
    width: 1000px;
    margin: 0 auto;
    #map {
      width: 640px;
      height: 480px;
      margin: 0 auto;
    }
    .form{
      text-align: center;
      form{
        display:inline-block;
      }
    }
  }
}
